*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    color: #a0c9fd;
}

h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    font-size: 80px;
}

form{
    max-width: 800px;
    margin: 50px auto 200px auto;
    border: thin solid #a0c9fd;
    padding: 20px;
    box-shadow: 0 8px 8px #4646469a;
    background-color: #4596ff;
}

form label{
    display: block;
    margin-bottom: 10px;
    padding-left: 5px;
    color: #ffffff;
}

form input{
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    border: thin solid #4596ff;
    margin-bottom: 30px;
}

form button{
    background: #a0c9fd;
    color: #ffffff;
    border: none;
    padding: 15px;
    width: 100%;
    font-size: 16px;
    margin-bottom: 20px;
    cursor: pointer;
    font-size: 20px;
}

form button:active{
    background: #a0c9fd;
}